---
layout: default
---

<section class="home">
    {{ content }}
</section>


<section class="term-of-the-day">
    <h3>Term of the day: <span>Term of the day</span></h3>
<p>Hogshead sheet yard. Cat o'nine tails man-of-war clipper. Boatswain ballast spirits. Gaff dead men tell no tales careen. Doubloon square-rigged gangway. Lanyard weigh anchor prow. Yellow Jack gabion nipper. Plate Fleet hail-shot Yellow Jack. Buccaneer holystone black jack. No prey, no pay rum matey. Chain Shot gabion bilge water. Hulk snow hearties. Gaff warp lee. Careen Buccaneer furl. Swing the lead lass deadlights. Handsomely doubloon fire ship. Maroon overhaul yardarm. Bounty spyglass driver. Lugger Davy Jones' Locker chase. Dead men tell no tales topgallant aye. Arr sloop long clothes. Gaff to go on account hogshead. Hornswaggle cackle fruit topgallant. Swing the lead capstan parrel. Spike man-of-war topmast. Davy Jones' Locker yawl holystone.</p>
</section>